body {
  font-family: sans-serif;
  color: #283474;
  font-weight: 800;
}

#main {
  width: 700px;
  margin: 10vh auto 10vh auto;
  text-align: center;
  padding: 90px;
  border: 5px solid rgb(228, 227, 227);
}

#msg-redefinir {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #283474;
  height: 60px;
}

.link-redefinir{
  font-size: 20px;
  color: #283474;
}
